# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Zespol.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\gkjus\RiderProjects\Zespol\.idea\.idea.Zespol\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
