[submodule "ZespolLib"]
	path = ZespolLib
	url = ../ZespolLib.git
[submodule "ZespolTesting"]
	path = ZespolTesting
	url = ../ZespolTesting.git
[submodule "zespol-gui"]
	path = zespol-gui
	url = https://github.com/gkju/zespol-gui
